#loader {
    transition: opacity 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
}

#content {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(20px);
}

#content.animate {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

#content.show {
    opacity: 1;
    transform: translateY(0px);
}

.firstA {
    bottom: 20px;
    position: fixed;
    font-size: large;
}

.secondA {
    position: fixed;
    bottom: 20px;
    left: 75px;
    font-size: large;
}

.thirdA {
    position: fixed;
    bottom: 20px;
    left: 194px;
    font-size: large;
}
        
body {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(29, 29, 29);
}

h2 {
    font-family: monospace;
    color: rgb(212, 212, 212);
}

h1 {
    user-select: none;
    color: white;
}

.spinner{
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid #ccc;
    border-top: 8px solid rgb(146, 146, 146);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
