        body {
            background-color: rgb(29, 29, 29);
        }

        h2 {
            font-family: monospace;
            color: rgb(212, 212, 212);
        }

        h1 {
            user-select: none;
            color: white;
        }